<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1> Welcome to the text analyzer</h1>
        <form action="/analyze" method="get">
            <textarea name='text' style='margin: 0px; width: 1903; height: 200;font-size: 20px;'></textarea><br>
            <input type='checkbox' name="removepunc">Remove punctuations<br>
            <input type='checkbox' name="fullcaps">UPPER CASE<br>
            <input type="checkbox" name="lowercaps">LOWER CASE<br>
            <input type="checkbox" name="nlr">New Line Remover<br>
            <input type="checkbox" name="sr">Remove Space<br>
            <button type="submit">Analyze Text</button>            
        </form>
    </body>
</html>